.arr {
    width: 1020px;
    padding: 0px 0;
    background-color: #fff;
    text-align:center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
    margin-left:auto;
    margin-right:auto;
  }
  
  .tabList {
    padding:0;
    margin:0;
    list-style-type:none;
    height:40px;
    line-height:200%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
  
  .tabList a {
    color: #000;  
    text-decoration:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  .tabList > li {
    display:inline-block;
    width: 200px;
    height:40px;
    border-right:1px solid #751b1b;
    text-align:center;
    overflow:auto ;
    color: #000000;
  }
  
  .tabList > li:last-child 
  { border-right: none;  
  }


