button {
    font-size: 15px;
    width: 10em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
}

button::before,
button::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: red;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

button::before {left: 0; z-index: -1;}
button::after {right: 0; z-index: -2;}

button:hover {
    color: green;
}

button:hover::before,
button:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #0000ff;
}

button:hover::before {
    top: 0;
}

button:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

button:disabled {
    color: red;
}

button:disabled:hover::before,
button:disabled:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #ffffff;
}


